.submitButton{
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    background-color: #8dc63f;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}