.shopingCart{
    width: 100%;
    padding: 10px;
    .submitInfo{
        margin-left: 50px;
        .submitInfo__totalPrice{
            display: inline-block;
            margin-right: 20px;
            font-size: 24px;
        }
    }
}
.shopingCart_container{
    display: flex;
    width: 100%;
}
.shopingCart_mainInfo{
    display: flex;
    flex-direction: row;
}
.shopingCart_mainInfo{
    color: red($color: #000000);
}