.restLogo__text{
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 35px;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: .5s;
    // &:hover{
    //     background: none;
    //     height: 100px;
    // }
}